* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

.singer_image {
  display: none;
  width: 100%;
  height: 1000px;
  margin-left: 75px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 600px;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}